/* global */
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--accent-color);
  background-color: var(--background-color);
  font-family: var(--common-font);
  font-variation-settings: "wght" var(--font-weight);
  background-image: var(--background);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.btn {
  position: relative;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  transition: box-shadow 0.5s ease;
}

.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  inline-size: 0%;
  background-color: var(--accent-color);
  transition: inline-size 0.5s ease-in-out;
}

.btn:hover::after {
  inline-size: 100%;
}

.btn:focus {
  outline: none;
}

.btn:focus-visible {
  box-shadow: 4px 4px 0px var(--accent-color);
}

/* global */

/* header */
.header {
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  inline-size: 100%;
  background-color: inherit;
  font-family: var(--accent-font);
  border: 2px solid var(--accent-color);
}

.header__title {
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__logo {
  margin-block-start: 30%;
  margin-block-end: 20px;
  text-decoration: none;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__theme-menu {
  margin-block: 25px;
}

.theme-menu__list {
  flex-direction: column;
  gap: 14px;
  transform: translateX(11px);
}

.theme-menu__button {
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--font-weight);
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover,
.theme-menu__button:focus,
.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible::after {
  inline-size: 100%;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  inset-block-end: -2px;
  display: block;
  inline-size: 0%;
  block-size: 2px;
  background-color: var(--accent-color);
  transition: inline-size 0.3s ease, opacity 0.3s ease;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -19px;
  animation: movement 0.5s infinite ease-in-out alternate;
}
/* header */

/* main */
.main {
  flex-direction: column;
  gap: 54px;
  margin: auto;
  inline-size: 100%;
}

.section__card {
  inline-size: 100%;
  font-size: 18px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.card__title {
  padding: 4px 10px;
  font-size: inherit;
  font-variation-settings: "wght" var(--card-weight);
}

.card__img-container {
  position: relative;
  block-size: 100%;
}

.card__img {
  inline-size: 100%;
}

.card__img-accent {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  color: var(--accent-color);
  mix-blend-mode: hard-light;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--font-weight);
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 -1px var(--background-color);
  opacity: 0.5;
  z-index: 100;
}

@supports ((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--background-color);
    text-rendering: 1px var(--background-color);
    text-shadow: none;
  }
}

.card__content {
  padding: 25px 27px 0 25px;
}

.card__content-text {
  font-size: 18px;
  font-style: normal;
  font-weight: var(--font-weight);
  line-height: 116.667%;
}

.card__content-text + p {
  margin-block-start: 27px;
}

.card__like {
  gap: 4px;
  align-items: center;
  justify-content: end;
  padding: 25px;
}

.card__icon-button {
  background-color: inherit;
  block-size: 38px;
  padding: 0;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
  padding: 9px 17px;
}

.button__text {
  position: relative;
  font-family: var(--accent-font);
  font-size: 14px;
  color: var(--button-hover);
  mix-blend-mode: difference;
  z-index: 100;
}

.heart {
  cursor: pointer;
}

.btn-save {
  flex-direction: column;
  gap: 8px;
  align-items: center;
  margin: 4px auto 100px;
  padding: 15px 20px;
}

.btn-icon {
  position: relative;
  inline-size: 28px;
  block-size: 28px;
  fill: var(--button-hover);
  stroke: 1px var(--button-hover);
  mix-blend-mode: difference;
  z-index: 100;
}

.card__2 .card__img {
  filter: sepia(80%);
}

.card__3 .card__img {
  filter: brightness(400%);
}

.card__4 .card__img {
  filter: saturate(80%) hue-rotate(20deg);
}

.card__5 .card__img {
  filter: hue-rotate(-90deg);
}

.card__6 .card__img {
  filter: grayscale(50%) sepia(50%);
}

.card__7 .card__img {
  filter: opacity(0.8);
}

.card__8 .card__img {
  filter: hue-rotate(90deg) sepia(40%);
}
/* main */

/* popup */
.popup {
  inline-size: 341px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  padding: 30px 40px;
  margin: auto;
}

.popup::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.popup__container {
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  align-items: center;
  gap: 20px;
  color: var(--accent-color);
  margin-block-end: 30px;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--font-weight);
  line-height: 150%;
  text-transform: uppercase;
}

.popup__svg {
  position: relative;
  inline-size: 39px;
  fill: var(--button-hover);
  stroke: 1px var(--button-hover);
  mix-blend-mode: difference;
  z-index: 100;
}

.popup_btn {
  block-size: 38px;
  inline-size: 100%;
  padding: 9px 17px;
}

/* popup */

/* media */
@media (width >= 375px) {
  .main,
  .header {
    inline-size: 48%;
    min-inline-size: 375px;
    max-inline-size: 696px;
  }

  .header__logo {
    margin-block-start: 20%;
    max-inline-size: 696px;
  }

  .btn-save {
    flex-direction: row;
  }

  .btn-icon {
    inline-size: 21px;
    block-size: 21px;
  }

  .card__img-container {
    display: block;
  }

  .popup {
    padding: 30px;
    inline-size: 357px;
  }
}
/* media */
