:root.theme-light {
  --font-weight: 400;
  --background-color: #fff;
  --accent-color: #000;
  --background: repeating-linear-gradient(
      90deg,
      #d3d3d3 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(#d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --card-weight: 700;
  --button-hover: #fff;
}

:root.theme-dark {
  --font-weight: 465;
  --background-color: #000;
  --accent-color: #00cc14;
  --background: repeating-linear-gradient(
      90deg,
      #000 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(#000 0px 2px, transparent 2px 4px),
    linear-gradient(#007f0c 0.01%, #004306);
  --card-weight: 785;
  --button-hover: #00cc14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-weight: 465;
    --background-color: #000;
    --accent-color: #00cc14;
    --background: repeating-linear-gradient(
        90deg,
        #000 0px 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(#000 0px 2px, transparent 2px 4px),
      linear-gradient(#007f0c 0.01%, #004306);
    --card-weight: 785;
    --button-hover: #00cc14;
  }
}
