:root {
  --common-font: "Inter-Variable", sans-serif;
  --font-weight: 400;
  --background-color: #fff;
  --accent-color: #000;
  --accent-font: "PressStart2P", fantasy;
  --background: repeating-linear-gradient(
      90deg,
      #d3d3d3 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(#d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --card-weight: 700;
  --button-hover: #fff;
  --heart-fill-color: #ff0000;
}
